.about {
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
  

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 80vh;
}

.about-container--first { 
  // grid-auto-flow: dense;

}
.about-container--second { 
  grid-auto-flow: dense;
  direction: rtl;
  text-align: left;
}


///////////////////////////////////////////////
// PHOTO

.about-photo {
  position: relative;
  background: rgb(39,43,43);
  background: radial-gradient(circle, rgba(39,43,43,1) 40%, rgba(27,31,32,1) 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  

  &-img {
    max-width: 750px;
    z-index: 2;
    object-fit: cover;
    margin: auto;

    box-shadow: rgba(255, 255, 255, 0.089) 0px 3px 8px;


  }

  &-img::before {
    display: block;
  content: '';
  background-color: #fff;
  width: 110%;
  height: 110%;

position: absolute;
  }
  

}

// .about-photo::after {
//   display: block;
//   content: '';
//   background-color: #fff;
//   width: 80%;
//   height: 80%;

// position: absolute;
// }

///////////////////////////////////////////////
// TEXT

.about-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  color: $color-primary-dark;
  width: 100%;
  background-color: $color-white-grey;

  .heading-tertiary {
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 4px;
  }

  .paragraph {
    font-size: 2.5rem;  
    color: $color-dark-grey;
  }

  .about__socials {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2rem;
    border-top: 2px solid $color-light-grey;

    .icon {
      display: inline-block;
      width: 6rem;
      height: 6rem;
      margin-left: 5rem;
      cursor: pointer;
      animation: iconBreath 1s infinite linear both;
    }
    .icon-instagram {
      fill: $color-icon-instagram;
    }
    .icon-facebook {
      fill: $color-icon-facebook;
    }
    .icon-youtube {
      fill: $color-icon-youtube;
    }
    .icon-network {
      fill: $color-icon-network;
    }
  }
}

}