.navigation {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: $color-primary-dark;
    padding: 2rem 2rem;
    position: fixed;
    // max-height: 10vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__logo-logo {
      width: 5rem;
      height: 5rem;
    }
  
    // MENU
    &__nav {
      justify-items: end;
    }
  
    &__list {
      display: flex;
    }
  
    &__item {
      list-style: none;
      text-transform: uppercase;
      min-width: 10%;
      cursor: pointer;
      margin-left: 3rem;
    }
    
    &__item:not(:last-child) {

    }
  
    &__link {
      display: block;
      text-decoration: none;
      font-size: 1.5rem;
      color: $color-white;
      padding: 1rem 3rem;
      border-bottom: 2px solid $color-primary-dark;
      transition: all 0.3s;
      white-space: nowrap;
  
      &--first {
        border-bottom: 2px solid $color-secondary-dark;
        background-color: $color-secondary-dark;
        border-radius: 3px;
      }
  
      &:hover {
        border-bottom: 2px solid $color-secondary-dark;
        transform: translateY(-2px);
      }
  
      &--first:hover {
        border-bottom: 2px solid $color-white;
        background-color: $color-white;
        border-radius: 3px;
        color: $color-secondary-dark;
      }
    }
  }

.navigation--transparent {
  background-color: $color-primary-dark-transparent;
  padding: .5rem 2rem;
  max-height: 8vh;

  .navigation__link {
    border-bottom: none
}
}